<html>
	{% include head.html %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<body>
		{{ content }}
		<script>
		var width = $(window).width()
		if ( width > 899 )
		$( function(){
			$.stellar({
				responsive: true,
			verticalScrolling: true,
			horizontalOffset: 0,
			verticalOffset: 0,
			positionProperty: 'transform',
			});
		});
		</script>
	</body>
</html>
